::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #4d7c0f;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: #a3e635;
  border-radius: 0px;
  border:0px solid #555777;
}
              